@page "/"
@* @rendermode InteractiveServer *@
@inject IJSRuntime JSRuntime

<PageTitle>Affiliations</PageTitle>

<div class="container">
    <h1>AFFILIATIONS</h1>
    <h2>How to Play</h2>
    <p>Create groups by selecting four tiles that fit together. Then click "Solve" to see if you're correct! </p>
    <p>Examples: </p>
    <ul>
        <li>
            <div>
                <h5>Sodas</h5>
                <p>Coca-cola, Pepsi, Mountain Dew, Dr. Pepper</p>
            </div>
        </li>
        <li>
            <div>
                <h5>Things You Spin</h5>
                <p>Record, Top, Bowling Ball, Truth</p>
            </div>
        </li>
        <li>
            <div>
                <h5>____ Tree</h5>
                <p>Family, Decision, Binary, Apple</p>
            </div>
        </li>
    </ul>
</div>

@code {

}
